

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fourth : #1f997c;
$appPadding: 1rem;
$background-grey-dark: #eaeaea;

// Shadow
$shadow: #00000033;

// Font color
$font-black: #000000;
$font-white: #ffffff;
